body {
  padding-top: 54px;
}

#repas{
    padding-top: 15px;
}

#repas .menu{
    margin-bottom:30px;
}

#repas .card-body{
    padding: 0.5rem;
}
#repas .card-title{
    margin-bottom: 0;
    text-align: center;
    font-size:1rem;
}
#repas .card-text{
    text-align: center;
    font-size: 0.5rem;
    font-style: italic;
    padding-top: 0.3rem;
}

#details .detail-modal{
  padding-right: 0px !important;
}

#details .detail-modal .container{
  padding-top: 16px;
}

#details .detail-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

#details .detail-modal .modal-body {
  text-align: center;
  padding-bottom: 0;
}

#details .detail-modal .modal-body p {
  margin-bottom: 0;
}

#details .detail-modal .modal-footer {
  display: block;
  text-align: center;
  border-top: none;
}

/*to shift down the menus from the navbar, which is 56px */
#menus{
  padding-top: 15px;
}
#menus .menus-item {
  right: 0;
  margin: 0 0 15px;
}
#menus .menus-item .card-body{
    padding: 0;
}
#menus .menus-item .card-title {
    font-size: 1rem;
    text-align: center;
    padding-top:0.5rem;
    margin-bottom: 0;
}
#menus .menus-item .card-text {
    text-align: center;
    font-size: 0.5rem;
    font-style: italic;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#menus .menus-item .menus-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
#menus .menus-item .menus-link .menus-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}
#menus .menus-item .menus-link .menus-hover:hover {
  opacity: 1;
}
#menus .menus-item .menus-link .menus-hover .menus-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
#menus .menus-item .menus-link .menus-hover .menus-hover-content i {
  margin-top: -12px;
}
@media (min-width: 767px) {
  #menus{
    padding-top: 30px;
  }
  #menus .menus-item {
    margin: 0 0 30px;
  }
}



#menus-modal .menus-modal {
  padding-right: 0px !important;
}

#menus-modal .menus-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

#menus-modal .menus-modal .modal-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#menus-modal .menus-modal .modal-content img {
  margin-bottom: 1rem;
}

#menus-modal .menus-modal .modal-content .modal-body {
  margin-top: 0;
  padding-top:0;
}

#menus-modal .menus-modal .modal-content .modal-body p {
  margin-bottom: 0;
}

#menus-modal .menus-modal .modal-content button {
  cursor: pointer;
}
